<div class="lastfm_container">
  <img src="<%= @lastfm_track["image"] %>">
  <h4>Current Track on Spotify</h4>
  <strong><%= @lastfm_track["name"] %></strong><br />
  <span><%= @lastfm_track["artist"] %></span>
</div>

<div class="countdown_container">
  <span><%= (Date.new(2013, 5, 26) - Date.today).to_i %> days</span> until Arrested Development
</div>

<div class="weather_container">
  <img src="<%= @current_weather["icon_url"] %>" />
  <span><%= @current_weather["temp_c"] %>ºC</span> feels like <%= @current_weather["feelslike_c"] %>ºC
</div>
